@font-face {
font-family: neu;
src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;

}
body{
height: 100%;
width: 100%;
box-sizing: border-box;
}
.main{

}
.firstpage{

min-height: 100vh; 
width: 100%;
position: relative;
 background-color: #EFEAE3;
 
/* padding: 0vw 2vw; */

}

nav{
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-contents {
/* padding-top: ; */
display: flex;
align-items: center;
gap: 1vw;

}
.nav-contents h3{
    position: relative;
    padding: 10px 20px;
    border: 1px solid rgb(183, 169, 169);
    border-radius: 50px;
    font-weight: 400;
    font-size: 1em;;
    font-family:Neuehaasdisplay roman,sans-serif;
    overflow: hidden;
}
.nav-contents h3::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.nav-contents h3:hover::after{
    bottom: 0;
    border-radius: 0;


}
.nav-contents h3 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.nav-contents h3:hover a{
    color: white;
}
.center{
    padding: 0 3vw;

    height: 67vh;
    /* background-color: yellow; */
display: flex;
align-items: flex-end;
justify-content: space-between;
/* border-bottom: 1px solid; */
padding-bottom: 3vw;
}
.left h3 {
width: 29vw;
font-size: 2vw;
font-family: neu;
line-height: 2vw;
/* font-family: neu; */

}

.center h1{
   font-size:  10vw;
   font-weight: 500;
   font-family: neu;
   line-height: 8vw;
   text-align:right;


}
.firstpage video{
    padding: 0 3vw;
    /* height: 100px; */
    width: 93vw;
    margin-top:4vw ;
    border-radius: 5%;
 
}
    
.secondpage{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color: #EFEAE3;


}
.MOVE{
font-family:neu;
white-space: nowrap;
overflow-x: auto;

}
.MOVE::-webkit-scrollbar{
    display:none;
}
.content{
    display: inline-block;
    animation-name: move ;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
.content h1{
font-size: 9vw;
display: inline-block;
white-space: nowrap;

}
.dot{
    margin: 1vw 2vw;
height: 55px;
width:55px;
display: inline-block;
border-radius: 50%;
background-color: #fe330a;
}
@keyframes move{
   from{
        transform: translateX(0);
   }
   to{
    transform: translateX(-100%);
} 
}
.secondpage{
    position: relative;
    
}
.secondpagebottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;

}
.secondpagebottom h3{
    margin-top: 5vw;
    font-family: neu;  
    padding: 5vw;
    font-size: 4.5vw;
    line-height: 4vw;
   


}
.secondpagebottom2  {
    font-size: medium;
font-family: Neuehaasdisplay roman,sans-serif;
padding: 4vw 5vw;
/* background-color: red; */
margin-top: 12vw;


}
.secondpagebottom2 p{
margin-top:4vw;

}
.secondpagebottom2 img{
   
 

    width: 20vw;
    border-radius: 15px;
    
}
.movingcircle{
    height:55vh ;
    width: 25vw;
    position: absolute;
    border-radius: 50%;
    background-color: orangered;
    bottom: 5%;
    left: 25%;
    filter: blur(20px);
}
.thirdpage{
    min-height:100vh;
    background-color: #EFEAE3;
    width: 100%;
    


}
.featured{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2vw 3vw;
   

    
}
.onedot{
  
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: orangered;

}
.fproject{ 
    font-size: small;
    font-family: Neuehaasdisplay roman,sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}
.elements{
height: 120px;
width: 100%;
/* background-color: rgb(255, 153, 0); */
position: relative;
/* border-top: 1px solid; */
border-bottom: 1px solid rgb(181, 181, 181);

display: flex;
align-items: center;
padding: 0 2vw;
overflow: hidden;


}
.elements h2{
    font-family: neu;
font-size: 3.2vw;
position: relative;
z-index:9;
}
.elements .overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(246, 158, 69);
    position: absolute;
    left:0;
    top:-100%;
    transition: all ease 0.2s;

}
.elements:hover .overlay{
    top:0;
}